<ion-view view-title="Map">
  <ion-content>
    <div class="container-fluid">
      <div class="row">
        <div id="header" class="col-md-12">
          <div id="hamburger"></div>
          <div id="menu">
            <ul>
              <li>FixIt Stations</li>
              <li>NiceRide Stations</li>
              <li>About</li>
            </ul>
          </div>
          <div id="logo"></div>
          <div id="headerTitle">MNBikeways</div>
        </div>
      </div>

        <div id="map" class="col-md-12"></div>
        <div id="route_names" class="col-md-3"></div>
    </div>
  </ion-content>
</ion-view>
